<!doctype html>
<html>
    <head>    
        <title>비번 바꾸기</title>
    </head>
    <body>
        <h2>비밀번호 바꾸기</h2>
        <form action="/auth/change_process" method="post">
            <p><input class="login" type="text" name="username" placeholder="아이디"></p>
            <p>당신이 나온 초등학교 이름은?</p>
            <p><input class="login" type="text" name="school" placeholder="띄어쓰기 없이 입력해 주세요"></p>
            <p><input class="login" type="password" name="pwd" placeholder="바꿀 비밀번호"></p>
            <p><input class="login" type="password" name="pwd2" placeholder="비밀번호 재확인"></p>
            <p><input class="btn" type="submit" value="비밀번호 바꾸기"></p>
        </form>
        <p>로그인 화면으로 돌아가기 <a href="/auth/login">로그인 화면</a></p> 
    </body>
</html>